BasedOnStyle: LLVM

# 1. 让代码单行显示更多（ LLVM 默认 80 实在太短了）
ColumnLimit: 120

# 2. 针对嵌入式 C 语言强迫症的极品参数（推荐加上）
# 连续的赋值语句（等号）自动对齐，变量声明自动对齐
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# 3. 缩进和指针靠哪边（根据你的习惯改，这里推荐标准的 4 空格缩进）
IndentWidth: 4
PointerAlignment: Right